<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ocd.ecocert.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ocd.ecocert.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="fulltime" property="fulltime" jdbcType="INTEGER" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="hiredate" property="hiredate" jdbcType="DATE" />
    <result column="leavedate" property="leavedate" jdbcType="DATE" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="authentication_domain_id" property="authenticationDomainId" jdbcType="INTEGER" />
    <result column="specialty_code" property="specialtyCode" jdbcType="VARCHAR" />
    <result column="professional_level" property="professionalLevel" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="working_condition" property="workingCondition" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, password, realname, phone, location, age, fulltime, id_number, education, 
    major, work_experience, gender, hiredate, leavedate, photo, status, authentication_domain_id, 
    specialty_code, professional_level, post, working_condition
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ocd.ecocert.entity.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ocd.ecocert.entity.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ocd.ecocert.entity.User" >
    insert into user (id, name, password, 
      realname, phone, location, 
      age, fulltime, id_number, 
      education, major, work_experience, 
      gender, hiredate, leavedate, 
      photo, status, authentication_domain_id, 
      specialty_code, professional_level, post, 
      working_condition)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{fulltime,jdbcType=INTEGER}, #{idNumber,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{hiredate,jdbcType=DATE}, #{leavedate,jdbcType=DATE}, 
      #{photo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{authenticationDomainId,jdbcType=INTEGER}, 
      #{specialtyCode,jdbcType=VARCHAR}, #{professionalLevel,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, 
      #{workingCondition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ocd.ecocert.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="fulltime != null" >
        fulltime,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="workExperience != null" >
        work_experience,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="hiredate != null" >
        hiredate,
      </if>
      <if test="leavedate != null" >
        leavedate,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="authenticationDomainId != null" >
        authentication_domain_id,
      </if>
      <if test="specialtyCode != null" >
        specialty_code,
      </if>
      <if test="professionalLevel != null" >
        professional_level,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="workingCondition != null" >
        working_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="fulltime != null" >
        #{fulltime,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        #{hiredate,jdbcType=DATE},
      </if>
      <if test="leavedate != null" >
        #{leavedate,jdbcType=DATE},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="authenticationDomainId != null" >
        #{authenticationDomainId,jdbcType=INTEGER},
      </if>
      <if test="specialtyCode != null" >
        #{specialtyCode,jdbcType=VARCHAR},
      </if>
      <if test="professionalLevel != null" >
        #{professionalLevel,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="workingCondition != null" >
        #{workingCondition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ocd.ecocert.entity.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.fulltime != null" >
        fulltime = #{record.fulltime,jdbcType=INTEGER},
      </if>
      <if test="record.idNumber != null" >
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.workExperience != null" >
        work_experience = #{record.workExperience,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.hiredate != null" >
        hiredate = #{record.hiredate,jdbcType=DATE},
      </if>
      <if test="record.leavedate != null" >
        leavedate = #{record.leavedate,jdbcType=DATE},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.authenticationDomainId != null" >
        authentication_domain_id = #{record.authenticationDomainId,jdbcType=INTEGER},
      </if>
      <if test="record.specialtyCode != null" >
        specialty_code = #{record.specialtyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.professionalLevel != null" >
        professional_level = #{record.professionalLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.workingCondition != null" >
        working_condition = #{record.workingCondition,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      fulltime = #{record.fulltime,jdbcType=INTEGER},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      work_experience = #{record.workExperience,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      hiredate = #{record.hiredate,jdbcType=DATE},
      leavedate = #{record.leavedate,jdbcType=DATE},
      photo = #{record.photo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      authentication_domain_id = #{record.authenticationDomainId,jdbcType=INTEGER},
      specialty_code = #{record.specialtyCode,jdbcType=VARCHAR},
      professional_level = #{record.professionalLevel,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      working_condition = #{record.workingCondition,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocd.ecocert.entity.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="fulltime != null" >
        fulltime = #{fulltime,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        work_experience = #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        hiredate = #{hiredate,jdbcType=DATE},
      </if>
      <if test="leavedate != null" >
        leavedate = #{leavedate,jdbcType=DATE},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="authenticationDomainId != null" >
        authentication_domain_id = #{authenticationDomainId,jdbcType=INTEGER},
      </if>
      <if test="specialtyCode != null" >
        specialty_code = #{specialtyCode,jdbcType=VARCHAR},
      </if>
      <if test="professionalLevel != null" >
        professional_level = #{professionalLevel,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="workingCondition != null" >
        working_condition = #{workingCondition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocd.ecocert.entity.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      fulltime = #{fulltime,jdbcType=INTEGER},
      id_number = #{idNumber,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      hiredate = #{hiredate,jdbcType=DATE},
      leavedate = #{leavedate,jdbcType=DATE},
      photo = #{photo,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      authentication_domain_id = #{authenticationDomainId,jdbcType=INTEGER},
      specialty_code = #{specialtyCode,jdbcType=VARCHAR},
      professional_level = #{professionalLevel,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      working_condition = #{workingCondition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>